{% extends "order/layout.html" %}
{% load static %}

{% block script %}
    <script type="module" src="{% static 'order/pages/cart.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>Your Cart</h1>
    <div id="cart-container"></div>
    <a href="{% url 'menu' %}">
        <button>See Menu</button>
    </a>
    <div id="order-modal" class="modal hidden">
    <div class="modal-content">
    <h3>Place Your Order</h3>
    <label for="student-name">Name:</label>
    <input type="text" id="student-name" required>
    <button id="confirm-order">Confirm Order</button>
    <button id="cancel-order">Cancel</button>
    </div>
    </div>
{% endblock %}